* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
      rgba(48, 25, 25, 0.7),
      rgba(48, 25, 25, 0.7)
    ),
    url(ARAB\ TEA.jpg);
  color: white;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
.nav-bar {
  background-color: white;
  background-position: center;
  display: block;
  width: 100%;
}

.menu {
  text-align: right;
}
.menu ul {
  list-style: none;
  display: inline-flex;
}

.menu ul li {
  padding: 7px;
  margin: 5px;
  width: 10s0px;
}
.menu ul li a {
  color: rgb(48, 25, 25);
  text-decoration: none;
  font-size: 16px;
  position: relative;
}
.menu ul li::after {
  content: "";
  width: 10%;
  height: 1px;
  background: brown;
  display: block;
  margin: auto;
  transition: 0.5s;
  transform: scaleX(0);
}
.menu ul li:hover::after {
  width: 95%;
  transform: scaleX(1);
}
.welcome {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 15%;
  color: white;
  font-size: 50px;
  font-size: large;
  font: 1em sans-serif;
  height: 30%;
  border-radius: 20px;
  line-height: 1.8;
}

.today {
  text-align: center;
  /* width: 150px; */
  display: contents;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Box {
  margin: 55px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.about-box {
  background-color: white;
  color: rgb(48, 25, 25);
  width: 220px;
  height: 250px;
  margin: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  line-height: 1.2;
  transition: 0.5s;
}
.about-box:hover {
  background: #971e1e44;
}
.about-box h3 {
  margin-bottom: 8px;
}

.form {
  background-color: transparent;
  color: white;
  width: 250px;
  text-align: center;
  text-align: center;
  line-height: 1.5;
}
.Ourteam {
  margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.team {
  background-color: white;
  color: rgb(48, 25, 25);
  width: 240px;
  margin: 15px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.team img {
  height: 240px;
  width: 240px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.team-info {
  padding: 15px;
  line-height: 1.5;
}
.team-header {
  text-align: center;
}
.footer {
  background-color: white;
  color: rgb(48, 25, 25);
  height: 20px;
  text-align: center;
}
